<h2 class="module-title">Tweets : {{#each topics}} {{this}} {{/each}}</h2>
<div class="tweets">
{{#each tweets}}
    <div class="module-item {{#ifequalsinline @index 0 'animated fadeInLeft'}}{{/ifequalsinline}}">
    	<div class="module-item-image-wrapper">
            <img class="module-item-image" alt="{{this.user.name}}" src="{{this.user.profile_image_url_https}}" width="58" height="58" />
    	</div>
        <div class="module-item-detail"><strong>{{this.user.name}}: </strong>{{this.text}}</div>
    </div>
{{/each}}
</div>