<h2 class="module-title">{{repo}} : {{branch}}</h2>
<div>
{{#each commits}}
    <div class="git-commit">
        <div class="git-commit-message">{{this.message}}</div>
        <div class="git-commit-author"><span class="git-commit-author-name">{{this.author}}</span> authored {{this.date}}</div>
    </div>
{{/each}}
</div>