<h2 class="module-title">{{#if title}}{{title}}{{/if}}</h2>
<span class="module-update">{{update}}</span>
<div class="jenkins-queue">
{{#each items}}
    <div class="module-item jenkins-item">
        <a href="{{this.task.url}}" target="_blank" title="{{this.why}}">{{this.task.name}}</a>
    </div>
{{/each}}
</div>