<!-- refresh time -->
<label for="refresh">Refresh time</label>
<input class="persist" type="number" name="refresh" placeholder="Refresh time (in ms)..." value="{{config.refresh}}" /><br/>

<!-- user -->
<label for="user">User</label>
<input class="persist" type="text" name="user" placeholder="User..." value="{{config.user}}" /><br/>

<!-- repository -->
<label for="repo">Repository</label>
<input class="persist" type="text" name="repo" placeholder="Repository..." value="{{config.repo}}" /><br/>

<!-- nb commits -->
<label for="nb_commits_display">Number of commits</label>
<input class="persist" type="number" name="nb_commits_display" placeholder="Number of commits..." value="{{config.nb_commits_display}}" /><br/>

<!-- token -->
<label for="token">API token</label>
<input class="persist" type="text" name="token" placeholder="token..." value="{{config.token}}" /><br/>