<h2 class="module-title">Github &gt; {{repo}}</h2>
<div>
{{#each commits}}
    <div class="github-commit">
        <img width="32" src="{{this.committer.avatar_url}}" alt="{{this.commit.committer.name}}" />
        <div class="github-commit-message"><a href="{{this.commit.url}}" target="_blank">{{this.commit.message}}</a></div>
        <div class="github-commit-author"><span class="github-commit-author-name">{{this.commit.committer.name}}</span> authored {{this.commit.author.date}}</div>
    </div>
{{/each}}
</div>