<!-- refresh time -->
<div class="row">
    <label for="refresh">Refresh time (s)</label>
    <input class="persist" type="number" name="refresh" placeholder="Refresh time (in s)..." value="{{config.refresh}}" />
</div>

<!-- url -->
<div class="row">
    <label for="url">URL</label>
    <input class="persist" type="text" name="url" placeholder="URL..." value="{{config.url}}" />
</div>

<!-- branch -->
<div class="row">
    <label for="branch">Branch</label>
    <input class="persist" type="text" name="branch" placeholder="Branch..." value="{{config.branch}}" />
</div>

<!-- nb commits -->
<div class="row">
    <label for="nb_commits_display">Number of commits</label>
    <input class="persist" type="number" name="nb_commits_display" placeholder="Number of commits..." value="{{config.nb_commits_display}}" />
</div>

<!-- user -->
<div class="row">
    <label for="user">Username</label>
    <input class="persist" type="text" name="user" placeholder="username..." value="{{config.user}}" />
</div>

<!-- password -->
<div class="row">
    <label for="password">Password</label>
    <input class="persist" type="password" name="password" placeholder="password..." value="{{config.password}}" />
</div>