<!-- refresh time -->
<label for="refresh">Refresh time</label>
<input class="persist" type="number" name="refresh" placeholder="Refresh time (in ms)..." value="{{config.refresh}}" /><br/>

<!-- repository -->
<label for="repo">Repository</label>
<input class="persist" type="text" name="repo" placeholder="Repository..." value="{{config.repo}}" /><br/>

<!-- url -->
<label for="url">URL</label>
<input class="persist" type="text" name="url" placeholder="URL..." value="{{config.url}}" /><br/>

<!-- branch -->
<label for="branch">Branch</label>
<input class="persist" type="text" name="branch" placeholder="Branch..." value="{{config.branch}}" /><br/>

<!-- nb commits -->
<label for="nb_commits_display">Number of commits</label>
<input class="persist" type="number" name="nb_commits_display" placeholder="Number of commits..." value="{{config.nb_commits_display}}" /><br/>