<div class="module" data-type="{{this.type}}" id="{{this.id}}" data-w="{{this.size.w}}" data-h="{{this.size.h}}"
    style="grid-column-start:{{this.position.x}}; grid-column-end:span {{this.size.w}}; grid-row-start:{{this.position.y}}; grid-row-end:span {{this.size.h}};" draggable="{{this.draggable}}">
    <div class="module-inner" draggable="{{this.draggable}}" style="background:url(/js/modules/{{this.type}}/logo.png) #555454 no-repeat center center;">
        {{this.id}}
        <div class="action-panel">
            <button type="button" class="admin" title="Administrate"><i class="fa fa-wrench"></i></button>
            <button type="button" class="delete" title="Delete"><i class="fa fa-trash-o"></i></button>
        </div>
    </div>
</div>