<!-- refresh time -->
<div class="row">
    <label for="refresh">Refresh time (s)</label>
    <input class="persist" type="number" name="refresh" placeholder="Refresh time (in s)..." value="{{config.refresh}}" />
</div>

<!-- server url -->
<div class="row">
    <label for="repo">Server URL</label>
    <input class="persist" type="text" name="server" placeholder="Repository..." value="{{config.server}}" />
</div>

<!-- user -->
<div class="row">
    <label for="user">User</label>
    <input class="persist" type="text" name="user" placeholder="User..." value="{{config.user}}" />
</div>

<!-- password -->
<div class="row">
    <label for="password">password</label>
    <input class="persist" type="password" name="password" placeholder="Password..." value="{{config.password}}" />
</div>

<!-- nb issues -->
<div class="row">
    <label for="nb_issues_display">Number of issues</label>
    <input class="persist" type="number" name="nb_issues_display" placeholder="Number of issues..." value="{{config.nb_issues_display}}" />
</div>