<!-- consumer_key -->
<label for="consumer_key">Consumer key</label>
<input class="persist" type="text" name="consumer_key" placeholder="consumer key..." value="{{config.consumer_key}}" /><br/>

<!-- consumer_secret -->
<label for="consumer_secret">Consumer secret</label>
<input class="persist" type="text" name="consumer_secret" placeholder="consumer secret..." value="{{config.consumer_secret}}" /><br/>

<!-- access_token_key -->
<label for="access_token_key">Access token key</label>
<input class="persist" type="text" name="access_token_key" placeholder="access token key..." value="{{config.access_token_key}}" /><br/>

<!-- access_token_secret -->
<label for="branch">Access token secret</label>
<input class="persist" type="text" name="access_token_secret" placeholder="access token secret..." value="{{config.access_token_secret}}" /><br/>

<!-- fetched_items -->
<label for="fetched_items">Number of tweet fetched</label>
<input class="persist" type="number" name="fetched_items" placeholder="Number of tweets..." value="{{config.fetched_items}}" /><br/>

<!-- topics -->
<div class="input-wrapper">
    <label for="topic">Topics</label>
    <input type="text" name="topic" placeholder="topic..." value="" /><br/>
	<button type="button" class="new-topic textual" title="Add topic">add</button>
	<br/>
	<div class="topic-list"></div>
</div>